* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  max-width: 90rem;
  padding: 0 1rem;
  margin: 0 auto;
  /* margin: 1rem auto; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: black;
  position: relative;
  height: 70px;
  /* width: 100%;
    position: fixed; */
  z-index: 1000;
}

html {
  font-family: "Public Sans", sans-serif;
}

nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  color: black;
  font-size: 30px;
}

.left-h {
  font-size: 3rem;
  font-weight: 300;
}

.left-p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.2rem 0;
  color: #9798a5;
  /* width: 28rem; */
}

@media (max-width: 770px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: white;
    gap: 0;
    overflow: hidden;
  }
  nav ul li {
    padding: 20px;
    padding-top: 0;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
  .one {
    display: flex;
    flex-direction: column;
  }
}

.one {
  display: flex;
  padding-left: 1rem;
}

a {
  padding-left: 1rem;
}

button {
  width: 166px;
  height: 44px;
  font-size: 0.8em;
  cursor: pointer;
  background: linear-gradient(to left, #30d35c, #2ab6d9);
  border: none;
  border-radius: 33px;
  text-align: center;
  color: white;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media (max-width: 770px) {
  .off {
    display: none;
  }
}

.hero {
  background: #f9f9f9;
}

.hero_wrapper {
  max-width: 90rem;
  padding: 0 1rem;
  margin: 0 auto;
  max-height: 30rem;
  display: flex;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right {
  transform: translateY(-180px);
}

@media (max-width: 770px) {
  .hero_wrapper {
    flex-direction: column;
  }
  .left {
    order: 2;
    transform: translateY(0);
  }
  .right {
    order: 1;
  }

  .left_wrapper {
    text-align: center;
    margin: 0 auto;
  }

  .left-h {
    font-size: 2rem;
    font-weight: 300;
  }

  .left-p {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1.2rem 0;
    color: #9798a5;
    /* width: 2rem; */
  }
  .left-h {
    font-size: 2rem;
  }

  .left-p {
    font-size: 1rem;
  }
  .mock {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left_wrapper {
    width: 40rem;
    transform: translateY(-10px);
  }
  .right {
    transform: translateY(-180px);
    margin: 0 auto;
  }
}

@media (max-width: 430px) {
  .left-h {
    font-size: 2rem;
  }

  .left-p {
    font-size: 1rem;
  }
  .mock {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left_wrapper {
    width: 20rem;
    transform: translateY(-6px);
  }
  .right {
    transform: translateY(-110px);
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .mock {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right {
    transform: translateY(-70px);
    margin: 0 auto;
  }
}

.circle {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  background-color: #30d35c;
}

.grid-sec {
  max-width: 90rem;
  padding: 7rem 0;
  margin: 0 auto;
}

.grid-h {
  font-size: 2rem;
  font-weight: 300;
}

.grid-p {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.2rem 0;
  color: #9798a5;
}

.all-grid {
  background-color: #f3f4f6;
}

.circle-h {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1.2rem 0;
}

.circle-p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #9798a5;
}

.grid {
  display: flex;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.why {
  margin-bottom: 6rem;
}

@media (max-width: 770px) {
  .why {
    padding-top: 16rem;
    text-align: center;
  }
  .grid {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-align: center;
  }
  .circle {
    margin: 0 auto;
  }
  .circle-p {
    padding: 0 4rem;
    line-height: 2rem;
  }
  .grid-p {
    padding: 0 7rem;
    line-height: 2rem;
  }
}

.art-sec {
  max-width: 90rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: grid;
}

.card {
  width: 20rem;
  /* background-color: #2ab6d9; */
  border-radius: 10px;
  border: 1px solid white;
  background: #fff;
}

.art-img {
  width: 19.9rem;
  height: 13.9rem;
  border-radius: 10px 10px 0 0;
}

.art-hp {
  padding: 1.5rem;
}

.k {
  margin-bottom: 10px;
}

.art-by {
  font-weight: 300;
  color: #9798a5;
}

.art-h {
  font-weight: 400;
  font-size: 0.9rem;
}

.art-p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #9798a5;
}

.art-s {
  background-color: #f9f9f9;
}

.art-latest {
  font-size: 2.3rem;
  font-weight: 300;
  padding-top: 6rem;
  padding-bottom: 1.8rem;
}

.art-grid {
  padding-bottom: 6rem;
  /* display: flex;
  justify-content: space-between;
  gap: 1rem; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1205px) {
  .art-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    justify-self: center;
  }
  .art-latest {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .art-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1rem;
    justify-self: center;
    justify-content: center;
  }
  .mock {
    display: none;
  }
}
